@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

:root {
    --bg-color: #cad3d3;
    --p-color: #99a9b5;
    --white-color: #fff;
    --text-color: #5f727f;

    --btn-one-color: #2196f7;
    --btn-two-color: #6c136f;
    --btn-three-color: #32ad1e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--bg-color);
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    max-width: 1560px;
    justify-content: space-evenly;
    margin-top: 100px;
    flex-wrap: wrap;
}

/* ===== CARD ===== */
.container .card.two .title span {
    font-size: 14px;
    color: #a6b5ba;
    display: block;
    padding-top: 6px;
}
.card {
    height: 769px;
    width: 29%;
    margin-bottom: 100px;
}
.card .price.two {
    background-color: #2c2e3d;
}
.card .price.two h2{
    color: #d74498;
}
.card .price.two p {
    color: var(--p-color);
}
.card .price.three h2 {
    color: var(--btn-three-color);
}

/* ===== BOX IMG ===== */
.box-img {
    position: relative;
    height: 272px;
    width: auto;
}
.box-img .new {
    position: absolute;
    z-index: 1;
}
.box-img .new img {
    top: -13px;
    left: -13px;
    width: 65px;
    height: 65px;
    position: relative;
    filter: none;
}
.box-img .new p {
    position: relative;
    top: -57px;
    left: 5px;
    font-family: 'Montserrat', sans-serif;
    color: var(--white-color);
    font-size: 12px;
    font-weight: bold;
}
.box-img .price {
    width: 120px;
    height: 120px;
    background-color: var(--white-color);
    position: absolute;
    border-radius: 50%;
    text-align: center;
    top: -60px;
    left: 33%;
    z-index: 1;
}
.box-img .price h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--btn-one-color);
    font-weight: 100;
    margin-top: 32px;
    font-size: 27px;
}
.box-img .price p {
    color: var(--p-color);
}
.box-img img {
    max-width: 100%;
    height: 272px;
    filter: brightness(0.5);
    z-index: -1;
}
.box-img img.last-img {
    filter: none;
}
.box-img .title {
    position: relative;
    font-size: 36px;
    color: var(--white-color);
    top: -165px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.box-img .title.special {
    margin-top: -6px;
}

/* ===== DESCRIP ===== */
.descrip {

}
.descrip .subtitle {
    height: 92px;
    background-color: var(--white-color);
    text-align: center;
}
.descrip .subtitle h2 {
    font-size: 24px;
    color: #748590;
    font-weight: 300;
    padding-top: 15px;
}
.descrip .subtitle p {
    font-size: 14px;
    color: var(--p-color);
    font-weight: 400;
    padding-top: 5px;
}
.descrip .text {
    height: 52px;
    background-color: var(--white-color);
    text-align: center;
    line-height: 52px;
    color: var(--text-color);
}
.descrip .gray {
    background-color: #f4f6f7;
}

/* =====BUTTON ===== */
.btn {
    height: 150px;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn.one button {
    background-color: var(--white-color);
    border: 1px solid var(--btn-one-color);
    color: var(--btn-one-color);
}
.btn.one button:hover {
    background-color: var(--btn-one-color);
    color: var(--white-color);
    cursor: pointer;
}
.btn.two button {
    background-color: var(--white-color);
    border: 1px solid var(--btn-two-color);
    color: var(--btn-two-color);
}
.btn.two button:hover {
    background-color: var(--btn-two-color);
    color: var(--white-color);
    cursor: pointer;
}
.btn.three button {
    background-color: var(--white-color);
    border: 1px solid var(--btn-three-color);
    color: var(--btn-three-color);
}
.btn.three button:hover {
    background-color: var(--btn-three-color);
    color: var(--white-color);
    cursor: pointer;
}
button {
    width: 169px;
    height: 50px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

/* ===== RESPONSIVE ===== */
@media screen and (max-width: 1024px) and (min-width: 768px) {
    .card {
        width: 45%;
    }
    .img img {
        width: 100%;
    }
    .img .price {
        left: 37%;
    }
}

@media screen and (max-width: 768px)  {
    .card {
        width: 80%;
    }
    .img img {
        width: 100%;
    }
    .img .price {
        left: 41%;
    }
}