@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

:root {
    --bg-color: #cad3d3;
    --p-color: #99a9b5;
    --white-color: #fff;
    --text-color: #5f727f;

    --btn-one-color: #2196f7;
    --btn-two-color: #6c136f;
    --btn-three-color: #32ad1e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--bg-color);
    font-family: 'Source Sans Pro', sans-serif;
}
.container {
    display: flex;
    max-width: 1560px;
    justify-content: space-evenly;
    margin-top: 100px;
    flex-wrap: wrap;
}

/* ===== CARD ===== */
.container .card#two .title span {
    font-size: 12px;
    color: #a5b5ba;
    display: block;
    padding-top: 6px;
    font-weight: 600;
}
.card {
    height: 769px;
    width: 365px;
    margin-bottom: 100px;
}
.card .price.two {
    background-color: #2c2e3d;
}
.card .price.two h2{
    color: #d74498;
}
.card .price.two p {
    color: var(--p-color);
}
.card .price.three h2 {
    color: var(--btn-three-color);
}

/* ===== BOX IMG ===== */
.box-img {
    position: relative;
    height: 272px;
    width: auto;
}
.box-img .new {
    position: absolute;
    z-index: 1;
}
.box-img .new img {
    width: 65px;
    height: 65px;
    position: relative;
    transform: translate(-21%, -21%);
}
.box-img .new p {
    position: absolute;
    top: 16%;
    left: 4%;
    font-family: 'Montserrat', sans-serif;
    color: var(--white-color);
    font-size: 12px;
    font-weight: bold;
}
.box-img .price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 120px;
    height: 120px;
    background-color: var(--white-color);
    position: absolute;
    border-radius: 50%;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
.box-img .price h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--btn-one-color);
    font-weight: 100;
    font-size: 27px;
}
.box-img .price p {
    color: var(--p-color);
}
.box-img img {
    width: 100%;
    height: 272px;
    position: relative;
    z-index: -1;
}

.box-img .title {
    position: relative;
    font-size: 36px;
    color: var(--white-color);
    top: -60%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    z-index: 10;
}
.box-img .title.special {
    margin-top: -6px;
}
.box-img .fake {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    background-color: #4c5d80;
    opacity: 0.8;
}

/* ===== DESCRIP ===== */
.descrip .subtitle {
    padding-bottom: 20px;
    background-color: var(--white-color);
    text-align: center;
}
.descrip .subtitle h2 {
    font-size: 24px;
    color: #748590;
    font-weight: 300;
    padding-top: 15px;
}
.descrip .subtitle p {
    font-size: 14px;
    color: var(--p-color);
    font-weight: 400;
    padding-top: 5px;
}
.descrip .text {
    background-color: var(--white-color);
    text-align: center;
    color: var(--text-color);
    padding: 18px 0;
}
.descrip .gray {
    background-color: #f4f6f7;
}

/* =====BUTTON ===== */
.btn-box {
    padding: 55px 0;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-box.one button {
    background-color: var(--white-color);
    border: 1px solid var(--btn-one-color);
    color: var(--btn-one-color);
}
.btn-box.one button:hover {
    background-color: var(--btn-one-color);
    color: var(--white-color);
    cursor: pointer;
}
.btn-box.two button {
    background-color: var(--white-color);
    border: 1px solid var(--btn-two-color);
    color: var(--btn-two-color);
}
.btn-box.two button:hover {
    background-color: var(--btn-two-color);
    color: var(--white-color);
    cursor: pointer;
}
.btn-box.three button {
    background-color: var(--white-color);
    border: 1px solid var(--btn-three-color);
    color: var(--btn-three-color);
}
.btn-box.three button:hover {
    background-color: var(--btn-three-color);
    color: var(--white-color);
    cursor: pointer;
}
button {
    width: 169px;
    height: 50px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

/* ===== RESPONSIVE ===== */
/* @media (max-width: 1024px) and (min-width: 768px) {
    .box-img img {
        width: 100%;
    }
}

@media (max-width: 768px)  {
    .box-img img {
        width: 100%;
    }
} */